input{
    width: 100px;
    height: 30px;
    border: 0px solid transparent;
    background-color: rgb(141, 141, 241);
    color: white;
    font-size: 16px;
    font-weight: 700;

    &:hover{
        background-color: rgb(162, 162, 247);
        cursor: pointer;
    }
}