//COLORS

$background-color: #3a3a3a;
$font-color: white;
$game-color: #8d8df1;
$game-secondary-color: #a2a2f7;
$black-color: black;
$red-color: #f05757;
$blue-color: #7474eb;


//FONT-WEIGHT
$extra-bold: 800;
$bold: 700;
$light: 300;